.wrapper {
    margin-bottom: 10px;
    cursor: pointer;

    .image {
        border: 1px solid var(--color, var(--surface1));
        border-radius: 0.5rem;
        max-height: 100px;
        width: 100%;
        object-fit: cover;
    }

    .name {
        margin-top: 5px;
        font-size: 13px;
        color: var(--color, grey);
        font-weight: bold;
        text-align: center;
    }

    .coloroption {
        background-color: var(--color-background,grey);        
        border: 1px solid var(--color,transparent);
        border-radius: 0.5rem;
        height: 70px;
        width: 100%;
    }

    .video {}

    &.selected {
        --color: var(--select-color)
    }
}